<ul>
 <li><a href="/auth/singly/facebook">Login with Singly via Facebook</a></li>
 <li><a href="/auth/singly/foursquare">Login with Singly via foursquare</a></li>
 <li><a href="/auth/singly/instagram">Login with Singly via Instagram</a></li>
 <li><a href="/auth/singly/twitter">Login with Singly via Twitter</a></li>
</ul>
