<ul>
 <li><a href="/auth/singly?service=facebook">Login with Singly via Facebook</a></li>
 <li><a href="/auth/singly?service=foursquare">Login with Singly via foursquare</a></li>
 <li><a href="/auth/singly?service=instagram">Login with Singly via Instagram</a></li>
 <li><a href="/auth/singly?service=twitter">Login with Singly via Twitter</a></li>
</ul>
